@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*  */
@media (max-width: 767px) {
  .heading h2 {
    font-size: 50px;
  }
  .heading p {
    margin-top: -45px;
  }
  .services .serv-content .serv-items {
    flex-direction: column;
  }
  .services .serv-content .text {
    text-align: center;
  }
  .contact .contact-content .contact-label {
    font-size: 25px;
  }
  .contact .contact-content .link {
    font-size: 25px;
  }
}
@media (max-width: 1199px) {
  .services .serv-content .serv-img {
    display: none;
  }
}
@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
  .about .about-content .about-img {
    margin: auto;
    margin-bottom: 15px;
  }
  .about .about-content .about-img::before,
  .about .about-content .about-img::after {
    display: none;
  }
}
